//No pude hacer que funcionen las variables.
//Probablemente tenga que hacer todo de nuevo.

/* $background-color: #909090; 
$primary-color: #000000;
$secondary-color: #212121;
$hover-color: #6B6B66;
$highlight-color: #f0d200;
$red: red;
 */

/* No me tomó las variables con el signo $, intenté mil veces pero no me salió */
/* THEME COLOR */
:root {
    --background-color: #909090;
    --primary-color: #000000;
    --secondary-color: #212121;
    --hover-color1: #6b6b6b;
    --highlight-color: #f0d200;
}

