:root {
    --bg: #491172;
    --stick: #ffd58e;
    --cherry: #e48990;
    --strawberry: #d69eb9;
    --chocolate: #2f0d07;
    --caramel: #d6904d;
    --turqouise: #5bcab0;
}

html {
    font-size: 10px
}

body {
    margin: 0;
    font-family: 'Syne Mono', monospace;
    background-color: var(--bg);
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px);
}

header {
    margin-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

h2 {
    color: white;
    font-size: 3rem;
}

.popsicle {
    position: relative;
    transition: all 0.4s ease-in-out;
}

.flavor {
    background-color: var(--strawberry);
    border-radius: 140px 140px 40px 40px;
    box-shadow: 0 0 10px rgba(39, 39, 39, 0.3);
    height: 380px;
    position: relative;
    width: 250px;
}

.btn {
    background-color: var(--turqouise);
    border-radius: 100px;
    font-family: 'Syne Mono', monospace;
    border: none;
    padding: 10px 30px;
    line-height: 1.2;
    color: white;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(35, 22, 36, 0.5);
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    outline: transparent;
}

.btn svg {
    margin-right: 6px;
    width: 16px;
}

.btn:hover {
    box-shadow: 0 0 24 rgba(35, 22, 36, 0.5);
    transform: scale(1.1);
}

.btn-chocolate,
.topping-chocolate {
    background-color: var(--chocolate);
}

.btn-caramel,
.topping-caramel {
    background-color: var(--caramel);
}

.btn-cherry,
.topping-cherry {
    background-color: var(--cherry);
}

.topping {
    border-radius: 140px 140px 0 0;
    height: 140px;
    position: absolute;
    top: -1px;
    width: 100%;
  }


.topping-chocolate {
    /* z-index: 3; */
    z-index: 3;
}
.topping-caramel {
    z-index: 2;
   /*  z-index: 3; */
}
.topping-cherry {
    z-index: 1;
   /*  z-index: 3; */
}

.popsicle-stick {
    background-color: var(--stick);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 2px 8px inset rgba(0, 0, 0, 0.5);
    height: 100px;
    position: relative;
    width: 60px;
    left: 37%;
}